.about-me-header {
  width: 100%;
  line-height: 320px;
  height: 320px;
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.title {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-size: 5vw;
}

.about-me-content {
  margin: 0 auto;
  width: 60%;
}
